.#003366 {
  Color: #003366;
}

.#336666 {
  Color: #336666;
}

.#999966 {
  Color: #999966;
}

.#999999 {
  Color: #999999;
}

.#CCFFCC {
  Color: #CCFFCC;
}

.#FFFFCC {
  Color: #FFFFCC;
}
